@import "fonts";
@import "settings";

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #7fd9fcb7;
    color: rgb(36, 36, 36);

}

.container {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 20px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 6px 17px 10px;
  margin: 0 7px 10px;
  background-color: #fff;
  border-radius: 7px;
  font-size: 16px;
  border: none;
  box-shadow: inset 0px -7px 0px -3px #d8d8d8,
    0px 4px 3px -2px rgb(65 65 65 / 61%);
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  box-shadow: inset 0px -7px 0px -3px #999999,
    0px 5px 3px -2px rgb(65 65 65 / 61%);
  background-position: 0 0;
}

.button-one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.button-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.watch {
  padding: 6px 17px 10px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #fff;
 border-radius: 7px;
  font-size: 17px;
  color: rgb(36, 36, 36);
  border: none;
  box-shadow: inset 0px -7px 0px -3px #d8d8d8,
    0px 4px 3px -2px rgb(65 65 65 / 61%);
  transition: 0.5s;
}


#watch {

}

.canvas {
  width: 300px;
  height: 300px;
  border: 10px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.moves {
  display: block;
  margin: 0 auto;
  width: 97px;

}

.timer {
  width: 40px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}